<!-- start custom article footer snippet -->
<script src="https://giscus.app/client.js"
        data-repo="Radical-Edward-IV/Radical-Edward-IV.github.io"
        data-repo-id="R_kgDOKA22Zg"
        data-category="General"
        data-category-id="DIC_kwDOKA22Zs4CuiQe"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
<!-- end custom article footer snippet -->
